/* --silver: #919098ff;
--yellow: #f6bd60ff;
--navy: #283044ff;
--red: #972d07ff;
--purple: #cfbcdfff; */
body
{
  font-family: 'Stalinist One';
  margin: 0;
}
::selection
{
  color: #00ffff;
  background: #00ff00;
}
::-moz-selection
{
  color: #00ffff;
  background: #00ff00;
}
.title
{
  color: #f6bd60ff;
  font-size: 100px;
}
.header
{
  width: 1910px;
  height: 500px;
  background-image: url('/assets/header.jpg');
  background-repeat: no-repeat;
  text-align: center;
  align-self: center;
}
.prfrmt
{
  font-family: 'Stalinist One';
  display: inline-block;
}
.mdescrip
{
  color: #cfbcdfff;
  font-size: 50px;
}
.navbar
{
  background-color: #283044ff;
  width: 1910px;
  height: 100px;
}
.button
{
  font-family: 'Stalinist One';
  border-width: thick;
  border-color: #972d07ff;
  background-color: #cfbcdfff;
  color: #919098ff;
  text-align: center;
  width: 100px;
  height: 35px;
  cursor: pointer;
}
.button1:hover
{
  border-color: #919098ff;
  background-color: #972d07ff;
}
.row
{
  display: flex;
  flex-wrap: wrap;
}
.side
{
  flex: 30%;
  height: 750px;
  background-color: #283044ff;
}
.main
{
  flex: 70%;
  background-color: #919098ff;
  height: 750px;
}
.sidetitle
{
  text-align: center;
  font-size: 35px;
}
.maintitle
{
  text-align: center;
  font-size: 35px;
}
.txt
{
  color: #972d07ff;
}
.link
{
  color: #f6bd60ff;
  text-decoration: none;
  cursor: pointer;
}
.image
{
  width: 550;
  height: 309;
}
.link1
{
  color: #f6bd60ff;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Stalinist One';
}
